Screen {
    layout: vertical;
}

DiagnosticsDisplay {
    height: 1fr;
    background: $surface;
    padding: 1;
}

.header {
    background: $accent;
    color: $text;
    height: 1;
    content-align: center middle;
    text-style: bold;
}

.pane {
    border: solid $accent;
    margin: 1;
}

#diagnostics_container {
    width: 1.5fr;
    border: solid $accent;
    margin: 1;
}

#cli_container {
    width: 2fr;
    border: solid $accent;
    margin: 1;
}

#output_scroll {
    height: 1fr;
    background: $surface;
    padding: 1;
}

CommandOutput {
    height: auto;
}

#input_container {
    height: 5;
    width: 100%;
    background: $panel;
}

Input {
    width: 100%;
}

PathCanvas {
    border: round white;
    width: auto;
    height: auto;
}